In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])
df

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12